  <textarea msd-elastic ng-model="question.title" placeholder= "Enter your question here...">

  </textarea>

  <div ng-show = "isNotFree()">
    <div ng-repeat="answer in question.answers">
      <input ng-model="answer.value" placeholder="enter answer {{$index + 1}}..." ng-focus="addAnswer($index)"></input>
    </div>

    <!-- <a href ng-click="addAnswer()">Add Answer</a> -->
  </div>

  <a href class="call-to-action" ng-click="addQuestion()"><button class = "whitebutton">Ask</button></a>
  <div class = "back-wrapper">
    <a href= "#/">Go Back</a>
  </div>
