
<h3>{{ question.title }}</h3>

<div ng-show="isFreeQuestion()">
  <form name="answerform">
  <input type="text" ng-model="response" placeholder="Answer Here..."></input>
    <a href ng-click="addResponse()">Submit</a>
  </form>

  <h4>People Answered:</h4>
  <ul>
    <li ng-repeat="response in question.responses">
      {{ $index + 1 }}. {{ response }}
    </li>
  </ul>
</div>

<div ng-show="isOneChoiceQuestion()">
  <span ng-repeat="answer in question.answers">
    <h4>{{answer.value}} - {{answer.votes}} votes | <a href ng-click="addVote($index)">Vote</a></h4>

  </span>
</div>


<div ng-show="isMultiChoiceQuestion()">
  <span ng-repeat="answer in question.answers">
    <h4>{{answer.value}} - {{answer.votes}} votes | <a href ng-click="addVote($index)">Vote</a></h4>
  </span>
</div>

<a href= "#/">Go Back</a>
